body {
  font-family: "Ubuntu", sans-serif;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000;
}

.star-wars p {
  margin-bottom: 50px;
}

.hidden {
  position: relative;
  width: 100%;
  min-height: 60vh;
  top: -25px;
  background-image: linear-gradient(0deg, transparent, black 75%);
  z-index: 1;
}

.star-wars {
  display: flex;
  justify-content: center;
  position: relative;
  height: 800px;
  color: #feda4a;
  font-size: 500%;
  font-weight: 700;
  letter-spacing: 6px;
  line-height: 150%;
  perspective: 400px;
  text-align: justify;
}

.star-wars-animation {
  position: relative;
  top: 9999px;
  transform-origin: 50% 100%;
  animation: star-wars-animation 30s linear;
  animation-iteration-count: infinite;
}

.star-wars-episode {
  font-size: 90%;
  text-align: center;
  text-transform: uppercase;
}

.star-wars-title {
  margin: 0 0 100px;
  text-transform: uppercase;
  text-align: center;
}

@keyframes star-wars-animation {
  0% {
    top: 0;
    transform: rotateX(25deg) translateZ(0);
  }
  100% {
    top: -6000px;
    transform: rotateX(30deg) translateZ(-2500px);
  }
}
