body {
  font-family: "Ubuntu", sans-serif;
}

.wrapper {
  background: url(../img/bground.png) fixed center center no-repeat;
  background-size: cover;
  height: 100vh;
  display: grid;
  grid-template-rows: minmax(min-content, 58px) auto;
}

.page-header {
  background: rgba(0, 0, 0, 0.4);
}

.page-main {
  align-self: center;
  justify-self: center;
}

.header-title {
  padding: 18px 0 18px 79px;
}

.logo {
  color: #fff;
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  text-transform: uppercase;
  text-decoration: none;
}

.logo:visited {
  color: #fff;
}

.logo:hover {
  color: #01813f;
}

.cal:hover .cal-icon {
  fill: #01813f;
}

.mail:hover .mail-icon {
  fill: #01813f;
}

.web:hover .web-icon {
  fill: #01813f;
}

.user-data {
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #fff;
}

.header-log-in {
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #fff;
  text-decoration: none;
}

.header-log-in:visited {
  color: #fff;
}

.header-log-in:hover {
  color: #01813f;
}

.header-sign-up {
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #fff;
  text-decoration: none;
}

.header-sign-up:visited {
  color: #fff;
}

.header-sign-up:hover {
  color: #01813f;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-links {
  width: 313px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 79px;
}

.form-input {
  width: 304px;
  font-weight: normal;
  color: #434343;
  font-size: 14px;
  line-height: 14px;
  background: #ffffff;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  padding: 16px 0 16px 20px;
  margin-top: 15px;
}
.form-input:focus {
  outline: none;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.form-button {
  width: 324px;
  background: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  border: none;
  padding-top: 16px;
  padding-bottom: 16px;
}

.form-button:hover {
  background: #01813f;
}

.form-button:focus {
  outline: none;
}

.agree-terms {
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #434343;
  padding-left: 8px;
}

.agree-terms-link {
  color: #3cb878;
  text-decoration: none;
}

.agree-terms-link:hover {
  color: #01813f;
  text-decoration-line: underline;
}

.form-wrapper {
  width: 324px;
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 0 60px 38px 60px;
  position: relative;
}

.checkbox-area {
  display: flex;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 20px;
}

.check-box-agree-terms:checked,
.check-box-agree-terms:not(:checked) {
  position: absolute;
  left: -9999px;
}

.check-box-agree-terms:checked + label,
.check-box-agree-terms:not(:checked) + label {
  display: inline-block;
  position: relative;
  line-height: 20px;
  padding-left: 28px;
  cursor: pointer;
}

.check-box-agree-terms:checked + label:before,
.check-box-agree-terms:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 20px;
  height: 20px;
  border: 1px solid #f2f2f2;
  background: rgba(0, 0, 0, 0.0001);
}

.check-box-agree-terms:checked:checked + label:after,
.check-box-agree-terms:checked:not(:checked) + label:after {
  content: "";
  position: absolute;
  left: 3px;
  top: 5px;
  width: 14px;
  height: 7px;
  border-radius: 1px;
  border-left: 3px solid #3cb878;
  border-bottom: 3px solid #3cb878;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.separation-line {
  padding-top: 31px;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #848484;
  display: flex;
  align-items: center;
  text-align: center;
}

.separation-line::before,
.separation-line::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #f2f2f2;
}

.separation-line:not(:empty)::before {
  margin-right: 5px;
}

.separation-line:not(:empty)::after {
  margin-left: 5px;
}

.button-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 14px;
}

.button-facebook {
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  background-color: #305db8;
  background-image: url(../img/f.png);
  background-repeat: no-repeat;
  background-position: 16px 11px;
  border: none;
  color: #fff;
  padding: 17px 22px 17px 67px;
  border-radius: 4px;
  text-decoration: none;
}

.button-area::before {
  content: "";
  border-left: 1px solid #0a162f;
  mix-blend-mode: normal;
  opacity: 0.1;
  height: 28px;
  position: absolute;
  left: 108px;
  text-decoration: none;
}

.button-area::after {
  content: "";
  border-left: 1px solid #0a162f;
  mix-blend-mode: normal;
  opacity: 0.1;
  height: 28px;
  position: absolute;
  left: 275px;
}

.button-facebook:visited {
  color: #fff;
}

.button-facebook:hover {
  background-color: #022263;
}

.button-facebook:focus {
  outline: none;
}

.button-google {
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  background-color: #df4a32;
  background-image: url(../img/g.png);
  background-repeat: no-repeat;
  background-position: 14px 15px;
  border: none;
  padding: 17px 27px 17px 80px;
  border-radius: 4px;
  text-decoration: none;
}

.button-google:visited {
  color: #fff;
}

.button-google:hover {
  background-color: #ab1f09;
}

.button-google:focus {
  outline: none;
}

.enter-user-data {
  padding-top: 31px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.enter-sign-up {
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  color: #434343;
  text-decoration: none;
}
.enter-sign-up:visited {
  color: #434343;
}

.enter-log-in {
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #3cb878;
  text-decoration: none;
}

.enter-log-in:visited {
  color: #3cb878;
}

.enter-log-in:hover {
  text-decoration: underline;
  color: #01813f;
}

.square {
  width: 18px;
  height: 18px;
  background-color: #3cb878;
  position: absolute;
  left: 0;
}

::-webkit-input-placeholder {
  color: #bebebe;
}

:-moz-placeholder {
  color: #bebebe;
}
::-moz-placeholder {
  color: #bebebe;
}

:-ms-input-placeholder {
  color: #bebebe;
}
