body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.menu {
  list-style-type: none;
  text-align: center;
  font-size: 18px;
  line-height: 18px;
}
.menu li {
  display: inline;
  margin: 25.5px;
  text-transform: uppercase;
}
.menu li a {
  text-decoration: none;
  color: #ff0000;
}
.title-page {
  text-transform: uppercase;
  text-align: center;
  margin-top: 48px;
  font-size: 22px;
  line-height: 27px;
}
.main-text {
  text-align: center;
  font-size: 16px;
  line-height: 26px;
  padding-left: 67.5px;
  padding-right: 67.5px;
}
.first-p {
  margin-top: 38px;
}
.second-p {
  margin-top: 28px;
}
.button {
  text-transform: uppercase;
  vertical-align: middle;
  text-align: center;
  width: 191px;
  height: 51px;
  border-radius: 5px;
  border: 1px solid #ff0000;
  background-color: #ff0000;
  color: #ffffff;
  font-size: 12px;
  line-height: 51px;
  margin-top: 66px;
  margin-right: auto;
  margin-left: auto;
}
.copyright {
  text-align: right;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  margin-top: 82px;
  margin-right: 105px;
}
