body {
  font-family: sans-serif;
}

.wrapper {
  background-image: url(../img/background.jpg);
}

.container {
  width: 1030px;
  margin: 0 auto;
}

.top-area {
  display: flex;
  justify-content: space-between;
  padding-top: 46px;
  margin-bottom: 17px;
}

.logo {
  display: flex;
}

.logo-link {
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
}

.logo-normal {
  margin-right: 8px;
  padding-bottom: 9px;
  position: relative;
}

.logo-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo:hover .holidays {
  color: #f26522;
  padding-left: 61px;
}

.logo:hover .milan {
  color: #f26522;
  padding-left: 61px;
}

.logo-hovered {
  position: absolute;
  display: none;
  top: 48px;
}

.logo:hover .logo-normal {
  display: none;
}

.logo:hover .logo-hovered {
  display: block;
}

.milan {
  font-weight: bold;
  font-size: 29px;
  line-height: 29px;
  color: #ffffff;
  padding-top: 5px;
}

.holidays {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  padding-bottom: 6px;
}

.contacts {
  display: flex;
  flex-direction: column;
}

.contacts a {
  color: #ffffff;
  text-decoration: none;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
}

.mail:hover {
  color: #f26522;
}

.phone {
  margin-left: auto;
  padding-top: 19px;
}

.phone:hover {
  color: #f26522;
}

.holiday-item {
  display: flex;
  flex-direction: column;
  width: 300px;
  text-decoration: none;
  color: #ffffff;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  position: relative;
}

.holiday-item-title {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 37px;
}

.content-area {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 37px;
  justify-items: center;
  margin-bottom: 49px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 12px;
}

.copyright {
  padding-bottom: 15px;
  color: #ffffff;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
}

.cover {
  width: 300px;
  background: #f26522;
  position: absolute;
  bottom: 75px;
  display: none;
  justify-content: space-between;
}

.holiday-item:hover .holiday-item-title {
  color: #f26522;
}

.holiday-item:hover .cover {
  display: flex;
}

.price {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  padding-top: 7px;
  padding-bottom: 12px;
}

.from {
  font-weight: normal;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
}

.euro {
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
  padding-top: 8px;
}

.details {
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  padding-top: 29px;
}

.details::after {
  content: url(../img/Vector.png);
  padding-right: 14px;
  padding-left: 16px;
  vertical-align: middle;
}
