.green-line {
  outline: #008000 2px solid;
}

.red-line {
  outline: #ff0000 2px solid;
}

.span {
  display: inline-block;
  padding: 4px 10px 5px 10px;
  font-size: 13px;
  line-height: 15px;
  border: 1px solid #d2d2d2;
  border-radius: 40px;
  cursor: pointer;
  margin-bottom: 15px;
  margin-right: 5px;
}

.close {
  border: 1px solid #d2d2d2;
  border-radius: 40px;
  margin-left: 10px;
  padding: 1px 5px;
}
