.footer {
  @include flex-center;
  flex-direction: column;
  background-color: black;
  padding: 66px 0 70px 0;
}

.footer__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #fefefe;
  text-transform: uppercase;
  margin: 0 0 22px 0;

  &::before,
  &::after {
    content: "-";
    padding: 0 5px;
  }
}

.footer__content {
  font-size: 16px;
  line-height: 28px;
  color: rgba(185, 185, 185, 1);
  max-width: 700px;
  text-align: center;
}

.contacts a,
.socials a {
  text-decoration: none;
  color: rgba(185, 185, 185, 1);
  transition: color 0.3s linear;
  &:hover {
    color: $hoverColor;
  }
}

.contacts__mail::before,
.contacts__adress::after {
  content: "/";
  padding: 0 10px;
}

.footer__socials {
  display: flex;
  margin: 35px 0;
}

.socials__icon {
  @include flex-center;
  width: 34px;
  height: 34px;
  border-radius: 50%;

  &:not(:last-child) {
    margin: 0 5px 0 0;
  }

  &--rss {
    border: 2px solid rgba(248, 144, 46, 1);
  }

  &--facebook {
    border: 2px solid rgba(57, 89, 159, 1);
  }

  &--twitter {
    border: 2px solid rgba(69, 176, 227, 1);
  }

  &--dribbler {
    border: 2px solid rgba(217, 122, 176, 1);
  }

  &--pinterest {
    border: 2px solid rgba(204, 33, 44, 1);
  }
}

@media (max-width: 1199px) {
  .footer {
    padding: 56px 0;
  }
}

@media (max-width: 767px) {
  .footer {
    padding: 38px 35px 46px;
  }

  .footer__title {
    font-size: 14px;
    line-height: 22px;
    margin: 0 0 8px 0;
  }

  .footer__content {
    font-size: 12px;
    line-height: 20px;
  }

  .footer__content--invisible {
    display: none;
  }

  .footer__socials {
    margin: 26px 0;
  }

  .footer__contacts {
    @include flex-center;
    flex-direction: column;
    font-size: 14px;
    line-height: 24px;
  }
}
