<header class="header">
  <div class="container">
    <nav class="header__navigation">
      <a href="#" class="header__logo">
        <img
          class="header__logo-image"
          src="./img/header/logo.png"
          width="43px"
          height="41px"
          alt="logo"
        />
        <p class="header__logo-text">Forkio</p>
      </a>
      <ul class="header__menu menu">
        <li class="menu__item">
          <a href="#" class="menu__link">Overview</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">About Fork</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Buying Options</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Support</a>
        </li>
      </ul>
      <button class="header__button button">Buy Now</button>
      <div class="menu__mobile"></div>
    </nav>
  </div>
</header>
