<section class="product">
  <div class="container">
    <div class="product-wrapper">
      <h2 class="product__title">&ltHere is what you get&gt</h2>
      <ul class="product-list">
        <li class="product-list__item">
          <img
            src="./img/product/lens.png"
            alt="icon"
            class="product-list__img product-list__img--lens"
          />
          <div class="product-list__text product-item">
            <h4 class="product-item__title">Creatred to Make The Web Better</h4>
            <p class="product-item__description">
              Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui
              laoreet vulputate dignissim. Sed id metus id quam auctor molestie
              eget ut augue.
            </p>
          </div>
        </li>
        <li class="product-list__item">
          <img
            src="./img/product/timer.png"
            alt=""
            class="product-list__img product-list__img--timer"
          />
          <div class="product-list__text product-item">
            <h4 class="product-item__title">Incredibly Powerful Tool</h4>
            <p class="product-item__description">
              Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis
              odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi
              gravida luctus. Aliquam erat volutpat.
            </p>
          </div>
        </li>
        <li class="product-list__item">
          <img
            src="./img/product/glass.png"
            alt=""
            class="product-list__img product-list__img--glass"
          />
          <div class="product-list__text product-item">
            <h4 class="product-item__title">Experimental Stuff</h4>
            <p class="product-item__description">
              Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis
              odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi
              gravida luctus. Aliquam erat volutpat.
            </p>
          </div>
        </li>
        <li class="product-list__item">
          <img
            src="./img/product/clock.png"
            alt=""
            class="product-list__img product-list__img--clock"
          />
          <div class="product-list__text product-item">
            <h4 class="product-item__title">Creatred to Make The Web Better</h4>
            <p class="product-item__description">
              Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis
              odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi
              gravida luctus. Aliquam erat volutpat.
            </p>
          </div>
        </li>
      </ul>
      <div class="product-img-wrapper">
        <img
          src="./img/product/product-main.jpg"
          alt="product-main"
          class="product-img"
        />
        <img
          src="./img/product/product-main.jpeg"
          alt="product-main"
          class="product-img--768"
        />
        <img
          src="./img/product/product-main-320.jpeg"
          alt="product-main"
          class="product-img--320"
        />
      </div>
    </div>
  </div>
</section>
