<section class="reviews">
  <div class="container">
    <h2 class="reviews__title">People Are Talking About Fork</h2>
    <div class="container--grid">
      <div class="reviews__item">
        <img
          src="./img/reviews/logo-1-1.png"
          class="reviews__logo"
          alt="partner"
        />
        <p class="reviews__comment">
          Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet.
          Proin id dignissim magna. Sed varius urna et pulvinar venenatis.
        </p>
      </div>
      <div class="reviews__item">
        <img
          src="./img/reviews/logo-1-2.png"
          class="reviews__logo reviews__logo--item-2"
          alt="partner"
        />
        <p class="reviews__comment">
          Donec euismod dolor ut ultricies consequat. Vivamus urna ipsum,
          rhoncus molestie neque ac, mollis eleifend nibh.
        </p>
      </div>
      <div class="reviews__item">
        <img
          src="./img/reviews/logo-1-3.png"
          class="reviews__logo reviews__logo--item-3"
          alt="partner"
        />
        <p class="reviews__comment">
          In efficitur in velit et tempus. Duis nec odio dapibus, suscipit erat
          fringilla, imperdiet nibh. Morbi tempus auctor felis ac vehicula.
        </p>
      </div>
      <div class="reviews__item">
        <img
          src="./img/reviews/logo-2-1.png"
          class="reviews__logo reviews__logo--item-4"
          alt="partner"
        />
        <p class="reviews__comment">
          Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet.
          Proin id dignissim magna. Sed varius urna et pulvinar venenatis.
        </p>
      </div>
      <div class="reviews__item">
        <img
          src="./img/reviews/logo-2-2.png"
          class="reviews__logo"
          alt="partner"
        />
        <p class="reviews__comment">
          Praesent ut eros tristique, malesuada lectus vel, lobortis massa.
          Nulla faucibus lorem id arcu consequat faucibus.
        </p>
      </div>
      <div class="reviews__item">
        <img
          src="./img/reviews/logo-2-3.png"
          class="reviews__logo"
          alt="partner"
        />
        <p class="reviews__comment">
          Fusce pharetra erat id odio blandit, nec pharetra eros venenatis.
          Pellentesque porttitor cursus massa et vestibulum.
        </p>
      </div>
    </div>
    <p class="reviews__text">
      Duis lobortis arcu sed arcu tincidunt feugiat. Nulla nisi mauris,
      facilisis vitae aliquet id, imperdiet quis nibh. Donec eget elit eu libero
      tincidunt consequat nec elementum orci. Cum sociis natoque penatibus et
      magnis dis parturient montes, nascetur ridiculus mus.
    </p>
    <div class="reviews__separator"></div>
  </div>
</section>
