body {
  font-family: sans-serif;
}

#toggle {
  color: #fff;
  background-color: #89ca62;
  border: none;
  width: 70px;
  height: 50px;
  border-radius: 4px;
}

#toggle:hover {
  cursor: pointer;
}

#button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #89ca62;
  width: 70px;
  height: 50px;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#button:hover {
  cursor: pointer;
  background-color: #333;
}

#button.show {
  opacity: 1;
  visibility: visible;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.header-top {
  height: 70px;
  background: #313131;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-icon {
  margin: 22px 27px;
}

.logo-text a {
  color: #fff;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
}

.logo-text a:visited {
  color: #fff;
}

.logo {
  display: flex;
  align-items: center;
}

.search {
  width: 70px;
  height: 70px;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu ul {
  display: flex;
}

.menu ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
}

.menu ul li {
  margin: 0 18px;
}

.menu ul li a:visited {
  color: #fff;
}

.menu ul li a:hover {
  color: #14b9d5;
}

.header-bottom {
  display: flex;
  flex-direction: column;
  background: url("../img/news.jpeg");
}

.header-title {
  display: flex;
  justify-content: center;
  padding: 164px 173px 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  color: #fff;
  margin-bottom: 44px;
}

.button-subscribe-now {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 170px;
  height: 55px;
  background: #89ca62;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  margin-right: 20px;
  color: #fff;
}

.button-subscribe-now:visited {
  color: #fff;
}

.button-best-articles {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 170px;
  height: 55px;
  color: #fff;
  background: #14b9d5;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

.button-best-articles:visited {
  color: #fff;
}

.button-area {
  display: flex;
  justify-content: center;
  padding-bottom: 68px;
}

.section-title {
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
  color: #18b4cf;
  margin-bottom: 52px;
  padding-top: 49px;
}

.popular-posts-area {
  background: #f2f2f2;
}

.most-popular-posts {
  display: flex;
  flex-flow: column wrap;
  height: 889px;
  align-content: space-between;
}

.most-popular-posts figure {
  margin-bottom: 32px;
  background: #fff;
}

.most-popular-posts figure figcaption {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  margin: 22px 0;
}

.most-popular-posts figure figcaption a {
  display: block;
  height: 100%;
  color: #000;
}

.most-popular-posts figure figcaption a:visited {
  color: #000;
}

.most-popular-clients {
  background: url(../img/clients.jpeg);
}

.most-popular-clients-title {
  padding-top: 106px;
  margin-bottom: 87px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.separation-line {
  height: 3px;
  background: #18b4cf;
  border: none;
  width: 60px;
}

.most-popular-clients-item {
  width: 881px;
  margin: 0 auto;
  padding-top: 105px;
  padding-bottom: 183px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 58px;
  align-items: center;
  justify-content: center;
}

.top-rated-gallery {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.hot-news {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat (4, 1fr);
  grid-column-gap: 60px;
  grid-row-gap: 46px;
  grid-template-areas:
    "hot-news-1 hot-news-1 hot-news-1 hot-news-2"
    "hot-news-3 hot-news-3 hot-news-4 hot-news-4"
    "hot-news-5 hot-news-5 hot-news-6 hot-news-6"
    "hot-news-7 hot-news-8 hot-news-8 hot-news-8";
  margin-bottom: 71px;
}

.hot-news-1 {
  grid-area: hot-news-1;
}

.hot-news-2 {
  grid-area: hot-news-2;
}

.hot-news-3 {
  grid-area: hot-news-3;
}

.hot-news-4 {
  grid-area: hot-news-4;
}

.hot-news-5 {
  grid-area: hot-news-5;
}

.hot-news-6 {
  grid-area: hot-news-6;
}

.hot-news-7 {
  grid-area: hot-news-7;
}

.hot-news-8 {
  grid-area: hot-news-8;
}

.hot-news-item-link {
  color: #000;
}

.hot-news-item-link:visited {
  color: #000;
}

.figcaption-area {
  background: #f9f7f7;
}

.figcaption-title {
  padding-top: 12px;
  padding-right: 14px;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #353a3d;
  text-align: right;
  margin-bottom: 14px;
}

.figcaption-title-center {
  text-align: center;
}

.figcaption-text {
  padding-right: 14px;
  padding-bottom: 1px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #5b6469;
  text-align: right;
}

.hot-news-item-right {
  display: flex;
  width: 857px;
}

.figcaption-area-right {
  width: 374px;
  height: 259px;
}

.figcaption-title-right {
  padding-top: 41px;
  padding-right: 24px;
}

.figcaption-text-right {
  padding-bottom: 41px;
  padding-right: 24px;
}

.hot-news-item-center {
  justify-self: end;
}

.hot-news-item-start {
  justify-self: start;
}

.figcaption-area-center {
  width: 277px;
  height: 48px;
}

.footer-area {
  background: #000;
  color: #fff;
}

.footer-area-grids {
  height: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  align-items: center;
  justify-content: space-between;
}

.copyright p {
  font-size: 13px;
  line-height: 13px;
}

.footer-logo {
  justify-self: end;
  align-self: center;
}
